
body {
    /* feel free to update these css variables for a quick theme */
    
    --magenta: #ba2575;
    --indigo: #710be6;
    --chartreuse: #90ff12;
    --green: #39b372;
    --orange: #f77e14;
    
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    
    --header-height: 80px;
    --shadow: 0px 0px 20px -3px rgba(0,0,0,0.45);
    --footer-shadow: 0px 0px 20px -3px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 35px;
    
    font-family: 'Titillium Web', sans-serif;
}

body{
    background-color: var(--green);
}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--orange);
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--magenta);
    width: 800px;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--indigo);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

.colHolder{
    display: flex;
    gap: 20px;
}

.ktmDiv{
    display: flex;
    flex-direction: column;
    background-color: lightyellow;
    width: 500px;
    padding: 20px;
}

.colHolder{
    border: 1px solid var(--magenta);
    padding: 5px;
    border-radius: 5px;
    margin: 0;
}

.ktmH2{
    border-top: 1px solid var(--orange);
    padding: 5px;
    margin: 0;
    font-weight: 900;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

header img {
    height: var(--header-height);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--indigo);
    color: var(--chartreuse);
    box-shadow: var(--footer-shadow);
}

.klkCard{
    width: 500px;
}

.nameDiv{
    /* vertical-align: baseline; */
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    line-height: 0;
    background-color: black;
    margin-top: 20px;
    color: var(--orange);
    padding: 5px 10px;
    margin-bottom: 0;
}

.statsDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.weaponDiv{
    display: flex;
    align-items: flex-start;
    /* position: relative; */
    /* right: 0px; */
    vertical-align: top;
    border: 1px solid black;
}

.klkLeft{
    /* display: inline;
    position: relative; */
    width: 100px;
    /* background-color: pink; */
    padding: 0 10px;
    margin-right: 0;
}

.weaponRightDiv{
    /* position: absolute;
    top: 0px;;
    right:0; */
    /* background-color: yellow; */
    margin:0;
    padding: 0;
}

.aka{
    line-height: 0;
    margin-left: 50px;
}

.klkName{
    line-height: 0;
}

.descDiv{
    padding: 10px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin: 0;
}

.weaponRight{
    margin: 0;
    padding: 0;
    line-height: .063rem;
}

.teaCard{
    background-color: white;
    margin-top: 20px;
    width: 600px;
    padding: 10px;
    border-radius: 10px;
    padding-right: 15px;
}

.teaCardTop{
    display: flex;
    align-items: center;
}

.teaCardBottom{
    padding: 0 10px;
}

.teaImg{
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.heavy{
    font-weight: 900;
}

.light{
    font-weight: 500;
}